* {
  margin: 0px;
}

#source {
  width: 110px;
  height: 110px;
  /* margin-top: 510px; */
}

#ground {
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: #0a6522;
  margin-top: 549px;
}

#sky {
  position: absolute;
  background-color: #7bd9f6;
  width: 100%;
  height: 550px;
}
#backfront {
  position: absolute;
  margin-top: 70px;
}
